<html>

<head>

  <title>Obedient Art</title>

  <link href="/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/css/style.css" media="screen" rel="stylesheet" type="text/css">

  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>

</head>

<body>

  <div class="container">

    <div class="col-sm-6 col-sm-offset-3 text-center">

      <h1>{{ username }}'s Homepage</h1>

      <br><br>
      {% if is_uploader %}
      Upload a new file:
      <form method="post" action="/images" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*">
        <input type="checkbox" name="private">Private
        <input type="submit">
      </form>
      {% end %}

    </div>

  </div>

  <div>
      {% for img in images %}
      <img class="img-responsive col-lg-3 col-sm-6 col-xs-12 " src="{{ escape(img) }}"/>
      {% end %}
  </div>


</body>
</html>
