<html>

<head>

  <title>Obedient Art</title>

  <link href="/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/css/style.css" media="screen" rel="stylesheet" type="text/css">

  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>

</head>

<body>

  <div class="navbar navbar-default">
    <div class="container">

      <div class="navbar-header">
        <a href="/" class="navbar-brand">Obedient Art</a>
      </div>

      <p class="navbar-text navbar-right">
        {{ username }}
      </div>

    </div>
  </div>

  <div class="container">

  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center">

      {% if is_uploader %}
        <form method="post" action="/images" enctype="multipart/form-data" class="panel panel-default form-inline">

          <div class="panel-heading">Upload a File</div>

          <div class="panel-body">

            <div class="form-group">
              <input type="file" name="image" accept="image/*">
            </div>

            <div class="checkbox">
              <label><input type="checkbox" name="private">Private</label>
            </div>

            <hr>

            <button type="submit" class="btn btn-primary btn-block btn-lg">Upload</button>

          </div>

        </form>
      {% end %}

    </div>
  </div>

  <div class="image-list row">
    {% for img in images %}
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img src="/images?imageid={{ escape(img) }}" width="100%" class="img-responsive img-thumbnail">
        <br><br>Comments<br>
        <div id="{{ escape(img) }}" class="panel panel-default form-inline"></div>
        <script>$('#{{ escape(img) }}').load("/comments?imageid={{ escape(img) }}");</script>
        <form method="post" action="/user" class="panel panel-default form-inline">
          <div class="panel-heading">Comment on this photo:</div>
          <div class="panel-body">
            <div class="form-group">
              <input type="textarea" name="imageid" class="hidden" value="{{ escape(img) }}">
              <input type="textarea" name="contents">
            </div>
            <hr>
            <button type="submit" class="btn btn-primary btn-block btn-lg">Comment</button>
          </div>
        </form>
      </div>
    {% end %}
  </div>

</div>


</body>
</html>
